USE [master]
GO
/****** Object:  Database [dbMahasiswa]    Script Date: 16/06/2026 19.18.52 ******/
CREATE DATABASE [dbMahasiswa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbMahasiswa', FILENAME = N'E:\ALVIN MARCELLO NIKO\Semester 4\PEMVIS2\New Tugas Terstruktur\24413059_Alvin Marcello Niko\Tugas Terstruktur\nilaimhs\dbMahasiswa.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbMahasiswa_log', FILENAME = N'E:\ALVIN MARCELLO NIKO\Semester 4\PEMVIS2\New Tugas Terstruktur\24413059_Alvin Marcello Niko\Tugas Terstruktur\nilaimhs\dbMahasiswa_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbMahasiswa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbMahasiswa]
GO
/****** Object:  Table [dbo].[tblNilaiMhs]    Script Date: 16/06/2026 19.18.52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblNilaiMhs](
	[npm] [char](8) NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[kodeMK] [char](7) NOT NULL,
	[namaMK] [varchar](100) NOT NULL,
	[kehadiran] [int] NOT NULL,
	[tugas] [int] NOT NULL,
	[uts] [int] NOT NULL,
	[uas] [int] NOT NULL,
	[nilaiAkhir] [int] NOT NULL,
	[grade] [char](1) NOT NULL,
 CONSTRAINT [PK_tblNilaiMhs] PRIMARY KEY CLUSTERED 
(
	[npm] ASC,
	[kodeMK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
